/* body{font-family:Inter, sans-serif;font-weight:400;background-image:url("wall.jfif");background-repeat:no-repeat;background-position:top 190px right}video{width:240px;cursor:pointer}@media only screen and (width: 400px){body{width:62px !important;height:50% !important}video{height:25% !important;width:90% !important}.top{font-display:none}}video:hover{opacity:0.5;background-color:#ffffff}.card{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);transition:0.3s}.card:hover{box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2)}.container{padding:2px 16px}.split{height:100%;width:50%;position:fixed;z-index:1;top:0;overflow-x:hidden;padding-top:20px}.leftsc{left:0;top:39}.dark-mode{background-color:black;color:white}.rightsc{right:0;background-image:url("sgn.jpg");color:black}.top{top:0}.centersc{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center}.centered img{width:150px;border-radius:50%}.card{text-align:inherit;position:fixed}.fullw{width:100%}.cancelbtn{width:auto;padding:10px 18px;background-color:#f44336}.imgcontainer{text-align:center;margin:24px 0 12px;position:relative}img.avatar{width:40%;border-radius:50%}.container{padding:16px}span.psw{float:right;padding-top:16px}.modal{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#000000;background-color:rgba(0, 0, 0, 0.4);padding-top:60px}.modal-content{background-color:#fefefe;margin:5% auto 15%;border:1px solid #888;width:80%}.close{position:absolute;right:25px;top:0;color:#000;font-size:35px;font-weight:bold}.close:hover,.close:focus{color:red;cursor:pointer}.animate{-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)}to{-webkit-transform:scale(1)}}@keyframes animatezoom{from{transform:scale(0)}to{transform:scale(1)}}@media screen and (max-width: 300px){span.psw{display:block;float:none}.cancelbtn{width:100%}}.thulo{font-size:x-large}.pink{color:palevioletred}.krimson{color:red}.seto{color:white}.seto{color:white}.fillseto{background-color:white}.fillkrimson{background-color:red}.navy{color:navy}.fillnavy{background-color:navy}.blue{color:blue}.fillblue{background-color:blue}.aqua{color:aqua}.fillaqua{background-color:aqua}.gold{color:gold}.fillgold{background-color:gold}.fillgrey{background-color:grey}.yellow{color:yellow}.fillyellow{background-color:yellow}.green{color:green}.fillgreen{background-color:green}.lightgreen{color:lightgreen}ul{list-style-type:none;margin:0;padding:0;overflow:hidden}ol{list-style-type:none;margin:0;padding:0;overflow:hidden}ol,li{float:right;border-radius:50px}li{float:left}li a{display:block !important}li:hover{opacity:1}.filllightgreen{background-color:lightgreen}.lightblue{color:lightblue}.filllightblue{background-color:lightblue}.grey{color:grey}.fillgrey{background-color:grey}.silver{color:silver}.fillsilver{background-color:silver}.black{color:black}.fillblack{background-color:black}.center{text-align:center}.right{text-align:right}.left{text-align:left!important}.fillcenter{align-content:center;align-items:center;text-align:center}.fillright{align-content:center}img{border-radius:inherit}.loaded{animation-name:loading_fade_color;animation-iteration-count:infinite}@keyframes loading_fade_color{0%{background-image:url("photoshop.jfif")}25%{background-image:url("photoshop2.jfif")}40%{background-image:url("image1.jpg")}50%{background-image:url("image3.jpg")}60%{background-image:url("image2.jpg")}70%{background-image:url("image4.jpg")}100%{background-image:url("image5.jpg")}}.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}.round{padding:10px;border-radius:25px}.round2{padding:10px;border-radius:50px 20px}.borderimg{border:10px solid transparent;padding:15px;border-image:url("border.jfif") 30 round}.dottedblue{border-right:4px dotted blue}.caret{caret-color:red}#loading{cursor:wait}#write_vert{writing-mode:vertical-rl}*{margin:0;padding:0;box-sizing:border-box}.load{position:absolute;left:0;top:0;width:100%;height:100%;background:inherit;display:flex;align-items:center;justify-content:center;border-radius:inherit}.load::after{content:'';position:absolute;border-radius:50%;border:3px solid #fff;width:30px;height:30px;border-left:3px solid transparent;border-bottom:3px solid transparent;animation:loading1 1s ease infinite;z-index:10}.load::before{content:'';position:absolute;border-radius:50%;border:3px dashed #fff;width:30px;height:30px;border-left:3px solid transparent;border-bottom:3px solid transparent;animation:loading1 2s linear infinite;z-index:5}@keyframes loading1{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.button.active{transform:scale(0.85)}button.activeLoading .loading{visibility:visible;opacity:1}button .loading{opacity:0;visibility:hidden}a,a:hover{text-decoration:none}a:link:visited{text-decoration:none;color:white}a:visited{text-decoration:none}.section{margin-top:16px !important;margin-bottom:16px !important}.down-slide{position:relative;animation:animatetop 0.6s}@keyframes animatetop{from{top:-300px;opacity:0}to{top:0;opacity:1}}.right-slide{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0}to{right:0;opacity:1}}.tz{position:fixed;left:0;bottom:0;width:100%;background-color:inherit;color:inherit;text-align:center}.container > div{animation:anim 0.5s}@keyframes anim{0%{opacity:0}100%{opacity:1}}#error{display:block;margin:8px 0;color:red;font-weight:bold;size:cover}#sec-1 h1{overflow:hidden;border-right:0.15em solid orange;white-space:nowrap;margin:0 auto;animation:typing 3.6s steps(30, end), blink-caret 0.5s step-end infinite}.navigation-bar-button{float:left;width:auto;border:none;display:block;outline:0}.click{background-color:green;color:#ffffff}.click:hover{background-color:#16ccbd;color:green}.navigation{width:fit-content}@keyframes typing{from{width:0}to{width:90%}}@keyframes blink-caret{from,to{border-color:transparent}50%{border-color:orange}}.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0}to{bottom:0;opacity:1}}.img-logo{margin-right:30px}.form-group{margin-bottom:20px}label{color:black;font-weight:500}.adCard{background:#3f8dfc0d;border:1px solid #3f8dfc1d;border-radius:10px !important}input{padding:10px 35px 10px 20px;border-radius:30px;border-color:blue !important}.submit{width:100%;height:45px;border:none;outline:none;border-radius:2px;padding:0 10px}@media all and (min-width: 1025px){dwnld{display:none}}.hide{display:none}.mb-2{margin-bottom:20px}.my-2{margin:20px 0}p{margin:50px 0;font-size:1.1rem}.follow{display:block;background:#fff;text-align:center;color:#000;font-weight:500;text-transform:uppercase;margin:15px 0;width:100%;padding:10px}.logo{float:left}#loading{position:fixed;height:100%;width:100%;z-index:999;background:rgba(255, 255, 255, 0.8);top:0;left:0}#img{margin-left:auto;margin-right:auto}.launch{color:green}.goog-te-combo{color:orange;border-radius:32px}.goog-logo-link{opacity:0}.times{font-family:"Times New Roman", Times, serif}.auto{width:auto;height:auto}.robot{font-family:"Lucida Console", "Courier New", monospace}.handwritten{font-family:"Brush Script MT", cursive}.fantasy{font-family:Copperplate, Papyrus, fantasy}p.normal{font-weight:normal}p.light{font-weight:lighter}p.thick{font-weight:bold}p.thicker{font-weight:900}.helvetica{font-family:Arial, Helvetica, sans-serif}.wooden{background-image:url("https://images.unsplash.com/photo-1610824224972-db9878a2fe2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29vZCUyMHRleHR1cmV8ZW58MHx8MHx8&w=1000&q=80");width:300px;padding:50px;margin:20px;border-radius:32px;color:inherit;font-family:Copperplate, Papyrus, fantasy}.paper{background-image:url("https://previews.123rf.com/images/frenta/frenta1108/frenta110800033/10224784-hintergrund-mit-indianischen-traditionellen-mustern.jpg");width:300px}.usual{width:max-content}.card{background-color:white;padding:15px;font-size:14px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)}#notify_panel,#notify{padding:5px;text-align:center;background-color:#e5eecc;border:solid 1px #c3c3c3}#notify_panel{padding:10px;display:none}.banner_ad{background-color:#bce7b1;padding:15px;width:max-content;border-top-left-radius:10px;font-size:14px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)}.card:hover{cursor:pointer}.info{color:#00529B;background-color:#BDE5F8;background-image:url('https://wallpaperaccess.com/full/1892753.jpg')}.success{color:#4F8A10;background-color:#DFF2BF;background-image:url('https://i.imgur.com/Q9BGTuy.png')}.info,.success,.warning,.error,.validation{border:1px solid;margin:10px auto;padding:15px 10px 15px 50px;background-repeat:no-repeat;background-position:10px center;max-width:460px}.dropdown-click,.dropdown-hover{position:relative;display:inline-block;cursor:pointer}.dropdown-hover:hover .dropdown-content{display:block}.dropdown-hover:first-child,.dropdown-click:hover{background-color:#ccc;color:#000}.dropdown-hover:hover > .button:first-child,.dropdown-click:hover > .button:first-child{background-color:#ccc;color:#000}.dropdown-content{color:#000;background-color:#fff}.button:hover{color:#000!important;background-color:#ccc !important}.logo{height:85px}.headline{font-size:24px;font-weight:700}.custom-button::before{color:black;display:inline-block;background-color:aqua;border:1px solid #999;border-radius:3px;padding:5px 8px;outline:none;white-space:nowrap;cursor:pointer;text-shadow:1px 1px #fff;font-weight:700;font-size:10pt}.boxContainer{display:table}.box{background:transparent;display:table-cell;text-align:center;vertical-align:bottom;position:fixed;right:40%}.box,button{background-color:#0d4cc0;color:white;border:none;cursor:pointer;border-radius:100%}.custom-button:hover::before{border-color:black}.custom-button:active{outline:0}.custom-button:active::before{background:-webkit-linear-gradient(top, #e3e3e3, #f9f9f9)}button[type=submit]{background-color:green}button[type=reset]{background-color:blue}button:hover{opacity:1}.sidenav{height:100%;width:250px;position:fixed;z-index:1;top:0;left:0;background-color:#59b9d1;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);overflow-x:hidden;padding-top:20px}.dark-mode{background-color:#000 !important;color:white !important}.dark-mode div{background-color:#000 !important;color:white !important}.sidenav a,h1,h2{padding:6px 8px 6px 16px;text-decoration:none;font-size:25px;color:#ffffff;display:block;font-family:'Monospace', sans-serif}a{padding:6px 8px 6px 16px;text-decoration:none;font-size:small !important;display:block;font-family:'Source Sans Pro', sans-serif}.sidenav a:hover{background-color:grey;border-radius:10px}a:hover{background-color:grey}#popup{display:none;position:absolute;z-index:1;padding-top:100px;left:auto;top:0;width:100%;height:100%;overflow:auto;background-color:#000000;background-color:rgba(0, 0, 0, 0.4)}.popup-content{background-color:#fefefe;margin:center;padding:20px;border:1px solid #888;height:70%;font-family:Helvetica, sans-serif}.close{color:#aaaaaa;float:center;font-size:28px;font-weight:bold}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer}iframe{position:relative;top:0;left:0;bottom:0;right:0;width:100%;height:100%;border:none}.iframe{position:relative;top:0;left:30%;bottom:0;right:0;width:100%;height:100%;border:none;font-family:'Radio Canada', sans-serif}.reveal{display:block}.main{margin-left:350px;font-size:28px;padding:0 10px}@media screen and (max-height: 450px){.sidenav{padding-top:15px}.sidenav a{font-size:18px}}.material-symbols-outlined{font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48}.sidenav #hovered{background-color:grey}.apt-header{width:100%;height:90px;position:absolute;background:#ffffff;top:0;left:0;color:#333ed4;z-index:7;font-family:verdana}.apt-header-base{width:100%;height:90px;position:absolute;top:0;left:0;color:white;z-index:7;font-family:verdana;box-shadow:0 3px 8px rgba(0, 0, 0, 0.25)}#intro1{left:178px;top:20px;font-family:verdana;font-size:20px;color:#142170;height:75px;width:550px}#intro2{left:750px;top:20px;font-family:verdana;font-size:30px;color:#000;font-weight:bold;height:75px;width:500px}.apt-header-base{width:100%;height:100px;position:absolute;top:0;left:0;color:white;z-index:7;font-family:verdana}.apt-header{width:100%;height:100px;position:absolute;background:#3d5b99;top:0;left:0;color:white;z-index:7;font-family:verdana}#img1{left:178px;height:50px;width:100px;top:25px}#form1{left:750px;height:60px;width:180px;top:20px;font-family:verdana;font-size:12px}#form2{left:940px;height:60px;width:250px;top:20px;font-family:verdana;font-size:12px}.submit1{background:#5b7bc0;color:white;cursor:pointer}.apt-body{position:absolute;left:0;top:90px;width:100%;height:645px}#intro1{left:178px;top:20px;font-family:verdana;font-size:20px;color:#142170;height:75px;width:550px}#intro2{left:750px;top:20px;font-family:verdana;font-size:30px;color:#000;font-weight:bold;height:75px;width:500px}#img2{top:130px;left:178px;width:537px;height:195px}#intro3{left:750px;top:70px;font-family:verdana;font-size:18px;color:#000;height:50px;width:300px}#form3{top:120px;left:750px;font-family:verdana;font-size:20px;color:#142170;width:450px;height:495px}#namebox{width:200px;height:40px;border-radius:5px 5px 5px 5px;background:white;padding:10px;font-size:18px;margin-top:8px;border-width:1px;border-style:solid;border-color:gray}#mailbox{width:408px;height:40px;border-radius:5px 5px 5px 5px;background:white;padding:10px;font-size:18px;margin-top:8px;border-width:1px;border-style:solid;border-color:gray;color:grey}#mailbox2{width:408px;height:40px;border-radius:5px 5px 5px 5px;background:white;padding:10px;font-size:18px;margin-top:8px;border-width:1px;border-style:solid;border-color:gray}#r-b{font-size:12px;height:15px;width:15px}.button2{width:250px;height:40px;left:750px;top:625px;background:#00a400;font-family:SFProDisplay-Bold, Helvetica, Arial, sans-serif !important;font-size:18px;color:white;border-radius:5px 5px 5px 5px;border-width:1px;border-style:solid;border-color:gray;cursor:pointer;outline:none}.adbanner{display:none}#intro4{font-family:verdana;font-size:12px;color:gray}#intro5{font-family:verdana;font-size:14px;color:gray}.apt-body-footer{width:100%;position:absolute;left:0;height:80px;background:white;top:570px}#apt-body-footer-base{width:900px;top:15px;left:200px;color:blue;height:60px}#ok:hover{width:350px;word-spacing:30px;transition:width 0.5s, height 0.5s}body{width:100%;margin:0 auto;padding:0;background-color:#fafafa}#wrapper{text-align:center;margin:0 auto;padding:0;width:auto;height:inherit}#player_wrapper{position:relative;width:auto;margin-left:300px}#video_player{width:50%}#player_controls{top:98%;position:absolute;background-color:black;width:100%;padding:5px;box-sizing:border-box}input[type="file"]{color:transparent}input[type="file"]::-webkit-file-upload-button{visibility:hidden}.file::before{content:'Upload';color:white;display:block;background-color:aqua;border:1px solid #999;border-radius:12px;padding:55px 58px;outline:none;white-space:nowrap}input[type="image"]{float:center;height:20px;margin-left:inherit;margin-right:inherit;margin-top:inherit}#vol_img{margin:left 150px;width:20px}[data-tip]{position:relative}[data-tip]:before{content:'';display:none;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #1a1a1a;position:absolute;top:30px;left:35px;z-index:8;font-size:0;line-height:0;width:0;height:0}[data-tip]:after{display:none;content:attr(data-tip);position:absolute;left:0;padding:5px 8px;color:#1a1a1a;background-color:#fff;z-index:9;font-size:0.75em;height:18px;line-height:18px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;white-space:nowrap;word-wrap:normal}[data-tip]:hover:before,[data-tip]:hover:after{display:block} */
body {
  
  font-family: Inter,sans-serif;font-weight: 400;background-image:url("wall.jfif");background-repeat:no-repeat;background-position: top 190px right;
}

video{
width: 240px;
cursor:pointer;
/* display: inline;
position: fixed; */

}
@media only screen and (width: 400px) {
  body{
    width:62px !important;
    height:50% !important;
  }
  video{
    height:25% !important;
    width:90% !important;
  }
/* .card{
  width: 50% !important;
  height:50% !important;
} */
.top{
  font-display: none;
}
}
video:hover{
  opacity: 0.5;
  background-color: #ffffff;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
/* 
  position:relative; */
  
   
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;

}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .leftsc {
    left: 0;
    top:39;

  }
  .dark-mode {
    background-color: black;
    color: white;

  }
  
  .rightsc {
    right: 0;
    background-image: url("sgn.jpg");
    color:black;
    /* background-size: cover;
    display: flex; */
    
  }
  .top{
      top:0;
      
  }
  .centersc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }/* Full-width input fields */

.card {
text-align: inherit;
position:fixed;
/* top : inherit; */
/* display:block !important; */
}
.fullw{
    width:100%;
    /* display:block; */
}
/* Set a style for all buttons */
/* button {
  background-color: #c7d1cd;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
} */

/* button:hover {
  opacity: 0.8;
  width: 300px;
  word-spacing: 5px;
} */

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/* body{

    color:white;
} */
.thulo {
  font-size: x-large;
  }
  /* COLORS */
  .pink {
color:palevioletred;
  }
  .krimson {
  color:red;
  }
  .seto {
  color: white;
  }
  .seto {
    color: white;
    }
    .fillseto {
    background-color: white;
      }
  .fillkrimson {
  background-color:red;
  }
  .navy {
  color:navy
  }
  .fillnavy {
  background-color:navy
  }
  .blue {
  color:blue;
  }
  .fillblue {
  background-color:blue;
  }
  .aqua {
  color: aqua;
  }
  .fillaqua {
  background-color: aqua;
  }
  .gold {
  color: gold;
  }
  .fillgold {
  background-color: gold;
  }
  .fillgrey{
    background-color: grey;
  }
  .yellow {
  color: yellow;
  }
  .fillyellow {
  background-color: yellow;
  }
  .green {
  color: green;
  }
  .fillgreen {
  background-color: green;
  }
  .lightgreen {
  color:lightgreen;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
 ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
 ol, li {
    float: right;
    border-radius:50px
  }
  li{
    float:left;
  }
  li a {
    display: block !important;

  }
  li:hover {
    opacity:1;
  }
  .filllightgreen {
  background-color:lightgreen;
  }
  .lightblue {
  color: lightblue;
  }
  .filllightblue {
  background-color: lightblue;
      }
  .grey {
  color: grey;
  }
  .fillgrey {
  background-color: grey;
      }
  .silver {
  color: silver;
  }
  .fillsilver {
  background-color: silver;
      }
  .black {
  color: black
  }
.fillblack {
background-color: black
}
  .center {
  text-align: center;
  }
  .right {
  text-align: right;
  }
  .left {
  text-align: left!important;
  }
  .fillcenter {
  align-content: center ;
  align-items: center;
  text-align: center;
  }
  .fillright {
  align-content: center;
  }
  img{
  border-radius: inherit;
  }
  .loaded {
      animation-name: loading_fade_color; /*Shows that content is being loaded */
      animation-iteration-count: infinite; /*Animation repeatation*/
    }
  /*Loading_fade animation*/
    @keyframes loading_fade_color {
    0%   {background-image: url("photoshop.jfif");}
    25%  {background-image: url("photoshop2.jfif");}
    40%  {background-image: url("image1.jpg");}
    50% {background-image: url("image3.jpg");}
    60% {background-image: url("image2.jpg");}
    70% {background-image: url("image4.jpg");}
    100% {background-image: url("image5.jpg");}
  }
  .animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
  .round {
  padding: 10px;
  border-radius: 25px;
  }
  .round2 {
  padding: 10px;
  border-radius: 50px 20px;
  }
  .borderimg { 
      border: 10px solid transparent;
      padding: 15px;
      border-image: url(border.jfif) 30 round;
    }
  .dottedblue {
  border-right: 4px dotted blue;
  }
  .caret {
  caret-color: red;
  }
  #loading {
  cursor: wait;
  }
  #write_vert {
  writing-mode: vertical-rl; 
  }
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      }
      
      .load {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: inherit
      }
      
      .load::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      border: 3px solid #fff;
      width: 30px;
          height: 30px;
          border-left: 3px solid transparent;
          border-bottom: 3px solid transparent;
          animation: loading1 1s ease infinite;
          z-index: 10
      }
      
      .load::before {
          content: '';
          position: absolute;
          border-radius: 50%;
          border: 3px dashed #fff;
          width: 30px;
          height: 30px;
          border-left: 3px solid transparent;
          border-bottom: 3px solid transparent;
          animation: loading1 2s linear infinite;
          z-index: 5
      }
      
      @keyframes loading1 {
      0% {
      transform: rotate(0deg)
      }
      100% {
      transform: rotate(360deg)
      }
      }
      
     .button.active {
      transform: scale(.85)
      }
      
      button.activeLoading .loading {
      visibility: visible;
      opacity: 1
      }
      
      button .loading {
      opacity: 0;
      visibility: hidden
      }
      a,a:hover {
      text-decoration:none;
      }
      a:link:visited{
        text-decoration:none;
        color:white; 
      }
     a:visited{
      text-decoration:none;
     }
      .section {
        margin-top:16px!important;margin-bottom:16px!important ;
      }
    .down-slide{position:relative;animation:animatetop 0.6s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
    .right-slide{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
    .tz {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: inherit;
         color: inherit;
         text-align: center;
      }
      .container > div {
       animation:anim 0.5s;
      }
      @keyframes anim {
       0%{
        opacity:0;
       }
       100%{
        opacity:1;
       }
      }
      #error{
       display:block;
       margin:8px 0;
       color: red;
       font-weight:bold;
       /* background-image: url("bg_blocked.jpeg"); */
       size:cover;
      }
      #sec-1 h1 {
        overflow: hidden;
        border-right: .15em solid orange; /* The typwriter cursor */
       white-space: nowrap; /* Keeps the content on a single line */
       margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      
      animation:
          typing 3.6s steps(30, end),
          blink-caret .5s step-end infinite;
      }
      .navigation-bar-button{float:left;width:auto;border:none;display:block;outline:0}
      .click {
        background-color: green;
        color :rgb(255, 255, 255);
      }
      
      .click:hover {
        background-color:rgb(22, 204, 189);
        color: green;
      }
      .navigation {
        width: fit-content;
      }
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 90% }
      }
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
      }
      .animate-bottom {
      position:relative;
      animation:animatebottom 0.4s
    }
    @keyframes animatebottom {
      from{bottom:-300px;opacity:0} 
      to{bottom:0;opacity:1}
    }
      .img-logo {
       margin-right:30px;
      }
      .form-group {
       margin-bottom:20px;
      }
      label {
       color:black;
       font-weight:500;
      }
      .adCard{
        background: #3f8dfc0d;
        border: 1px solid #3f8dfc1d;
        border-radius:10px !important;
      }
      input{
        padding: 10px;
        /* background-color: white !important; */
        padding-right: 35px;
        padding-left: 20px;
        border-radius: 30px;
        border-color:blue !important;
    }
      
      /* input {
       width:50%;
       height:45px;
       
       outline:none;
       border-radius:2px;
       padding:0 10px;
      } */
      .submit {
        width:100%;
        height:45px;
        border:none;
        outline:none;
        border-radius:2px;
        padding:0 10px;
       }
      /* 
      
      */
      
      @media all and (min-width: 1025px) {
      dwnld {
      display: none;
      }
      }
    
      .hide{
       display:none;
      }
      .mb-2{
       margin-bottom:20px;
      }
      .my-2{
       margin:20px 0;
      }
      p{
       margin:50px 0;
       font-size:1.1rem;
      }
      .follow{
       display:block;
       background:#fff;
       text-align:center;
       color:#000;
       font-weight:500;
       text-transform:uppercase;
       margin:15px 0;
       width:100%;
       padding:10px;
      }
      .logo {
      float: left;
      }
      #loading {
          position: fixed;
          height: 100%;
          width: 100%;
          z-index: 999;
          background: rgba(255,255,255,.8);
          top: 0;
          left: 0;
          
      }
      #img {
        margin-left: auto;
        margin-right: auto;
      }
      .launch {
      color: green;
      }
      .goog-te-combo {
       color: orange;
       border-radius: 32px;
      }
      .goog-logo-link {
        opacity: 0;
      }
      /*Preventing text from being seleced */
      
      .times {
          font-family: "Times New Roman", Times, serif;
        }
        
        .auto{
          width: auto;
          height: auto;
        }
        .robot {
          font-family: "Lucida Console", "Courier New", monospace;
        }
        .handwritten {
          font-family: "Brush Script MT", cursive;
        }
        .fantasy {
          font-family: Copperplate, Papyrus, fantasy;
        }
        p.normal {
          font-weight: normal;
        }
        
        p.light {
          font-weight: lighter;
        }
        
        p.thick {
          font-weight: bold;
        }
        
        p.thicker {
          font-weight: 900;
        }
        
        .helvetica {
            font-family: Arial, Helvetica, sans-serif;
        }
        /* .manage-card {
            background-image:url("fdff.jpg");
            /* size : cover; */
            /* height : 100%;
        } */ 
        
        .wooden {
          background-image : url("https://images.unsplash.com/photo-1610824224972-db9878a2fe2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29vZCUyMHRleHR1cmV8ZW58MHx8MHx8&w=1000&q=80");
          width: 300px;
          padding: 50px;
          margin: 20px;
          border-radius : 32px;
          color : inherit;
          font-family: Copperplate, Papyrus, fantasy;
        }
        .paper {
          background-image : url("https://previews.123rf.com/images/frenta/frenta1108/frenta110800033/10224784-hintergrund-mit-indianischen-traditionellen-mustern.jpg");
          width: 300px;
          
        }
        .usual {
            width: max-content;
        }
        .card {
          background-color: white;
          padding: 15px;
          /* right:90%; */
          font-size: 14px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        #notify_panel, #notify {
          padding: 5px;
          text-align: center;
          background-color: #e5eecc;
          border: solid 1px #c3c3c3;
        }
        
        #notify_panel {
          padding: 10px;
          display: none;
          /* font-size: smaller; */
        }
        .banner_ad {
          background-color: rgb(188, 231, 177);
          padding: 15px;
          width:max-content;

          border-top-left-radius: 10px;
          /* right:90%; */
          font-size: 14px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        .card:hover{
            cursor: pointer;
        }
       
        /* .card:hover {
            opacity: 1;
            padding: 30px;
            
            font-size: 30px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          } */
        .info {
          color: #ffffff;
          background-color: #BDE5F8;
          background-image: url('https://wallpaperaccess.com/full/1892753.jpg');
      }
      .success {
          color: #4F8A10;
          background-color: #DFF2BF;
          background-image: url('https://i.imgur.com/Q9BGTuy.png');
      }
      .info,
  .success,
  .warning,
  .error,
  .validation {
    border: 1px solid;
    margin: 10px auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 460px;
  }
  .dropdown-click,.dropdown-hover {
  position: relative;
  display:inline-block; 
  cursor:pointer}
  .dropdown-hover:hover .dropdown-content{
  display:block
  }
  .dropdown-hover:first-child,.dropdown-click:hover{background-color:#ccc;color:#000}
  .dropdown-hover:hover > .button:first-child,.dropdown-click:hover > .button:first-child{background-color:#ccc;color:#000}
  .dropdown-content{color:#000;background-color:#fff;}
  .button:hover{color:#000!important;background-color:#ccc!important}
  .logo {
  height: 85px;
  }
  .headline {
    font-size: 24px;
    font-weight: 700
  }
  /* STYLES COLLECTED BY GAUTAMKUMAR 
  G.DEV/GAUTAMJI*/
  @import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Source+Sans+Pro:wght@400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
/* body {
  font-family: Helvetica, sans-serif;
 
} */
/*  */

.custom-button::before {

  color: black;
  display: inline-block;
  /*background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);*/
  background-color: aqua;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.boxContainer {
  display: table;
}
.box {
  /* width: 200px;
  height: 200px; */
  background: transparent;
  /* padding: 100px; */
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  position:fixed;
  right:40%;
}
.mtz-download-btn {
display:none !important;
}
.box, button{
  background-color: rgb(13, 76, 192);
  color:white;
  border:none;
  cursor: pointer;
  border-radius: 100%;
}
.custom-button:hover::before {
  border-color: black;
}
.custom-button:active {
  outline: 0;
}
.custom-button:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

/* button{
  padding: 16px 20px;
} */
button[type=submit]{
  background-color: green;

}
button[type=reset]{
  background-color: blue;
}
button:hover{
  opacity:1;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  rgb(89, 185, 209);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: hidden;
  padding-top: 20px;
}
.dark-mode {
  background-color: #000 !important;
  color:white !important;
}
.dark-mode div {
  background-color: #000 !important;
  color:white !important;
}
.sidenav a ,h1,h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Monospace', sans-serif;
}
a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size:small !important;
  
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
}
.sidenav a:hover {
  
  background-color: grey;
  border-radius: 10px;
}
a:hover {
  
  background-color: grey;
}
#popup {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  padding-top: 100px; /* Location of the box */
  left:auto;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.popup-content {
  background-color: #fefefe;
  margin: center;
  padding: 20px;
  border: 1px solid #888;
  height: 70%;
  font-family: Helvetica, sans-serif;
}
.close {
  color: #aaaaaa;
  float: center;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  border: none;
}
.iframe {
  position: relative;
  top: 0;
  left: 30%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-family: 'Radio Canada', sans-serif;
}
.reveal{
display : block;
}
.main {
  margin-left: 350px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
/*
  width: 100%;
  height:100%
*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.sidenav #hovered {
    
    background-color: grey;
  }
  .apt-header{
    width:100%;
    height:90px;
    position:absolute;
    background:#ffffff;
    top:0;
    left:0;
    color:rgb(51, 62, 212);
    z-index:7;
    font-family:verdana;
    
  }

  .apt-header-base{
    width:100%;
    height:90px;
    position:absolute;
    top:0;
    left:0;
    color:white;
    z-index:7;
    font-family:verdana;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  }
  #intro1{
    left:178px;
    top:20px;
    font-family:verdana;
    font-size:20px;
    color:#142170;
    height:75px;
    width:550px;
  }
  #intro2{
    left:750px;
    top:20px;
    font-family:verdana;
    font-size:30px;
    color:#000;
    font-weight:bold;
    height:75px;
    width:500px;
  }
  .apt-header-base{
    width:100%;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    color:white;
    z-index:7;
    font-family:verdana;
    /* -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25); */
  }
  .apt-header{
    width:100%;
    height:100px;
    position:absolute;
    background:#3d5b99;
    top:0;
    left:0;
    color:white;
    z-index:7;
    font-family:verdana;
    
  }
  #img1{
    left:178px;
    height:50px;
    width:100px;
    top:25px;
  }
  #form1{
    left:750px;
    height:60px;
    width:180px;
    top:20px;
    font-family:verdana;
    font-size:12px;
  }
  #form2{
    left:940px;
    height:60px;
    width:250px;
    top:20px;
    font-family:verdana;
    font-size:12px;
  }
  .submit1{
    
    
    background:#5b7bc0;
    color:white;
   cursor: pointer;
  
    
  }
  .apt-body{
    position:absolute;
    left:0px;
    top:90px;
    width:100%;
    height:645px;
    
  
  }
  #intro1{
    left:178px;
    top:20px;
    font-family:verdana;
    font-size:20px;
    color:#142170;
    height:75px;
    width:550px;
  }
  #intro2{
    left:750px;
    top:20px;
    font-family:verdana;
    font-size:30px;
    color:#000;
    font-weight:bold;
    height:75px;
    width:500px;
  }
  #img2{
    top:130px;
    left:178px;
    width:537px;
    height:195px;
  }
  #intro3{
    left:750px;
    top:70px;
    font-family:verdana;
    font-size:18px;
    color:#000;
    height:50px;
    width:300px;
  }
  #form3{
    top:120px;
    left:750px;
    font-family:verdana;
    font-size:20px;
    color:#142170;
    width:450px;
    height:495px;
    
  }
  #namebox{
    width:200px;
    height:40px;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:10px;
    font-size:18px;
    margin-top:8px;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
  }
  #mailbox{
    width:408px;
    height:40px;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:10px;
    font-size:18px;
    margin-top:8px;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
    color:grey
  }
  #mailbox2 {
    width:408px;
    height:40px;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:10px;
    font-size:18px;
    margin-top:8px;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
  }
  #r-b{
    font-size:12px;
    height:15px;
    width:15px;
  }
  .button2{
    width:250px;
    height:40px;
    left:750px;
    top:625px;
    background: #00a400;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif!important;
    font-size:18px;
    color:white;
    border-radius:5px 5px 5px 5px;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
    cursor:pointer;
    outline:none;
    
  }
  .adbanner {display:none;}
  #intro4{
    font-family:verdana;
    font-size:12px;
    color:gray;
    
  }
  #intro5{
    font-family:verdana;
    font-size:14px;
    color:gray;
    
  }
  .apt-body-footer{
    width:100%;
    position:absolute;
    left:0px;
    height:80px;
    background:white;
    top:570px;
    
  }
  #apt-body-footer-base{
    width:900px;
    top:15px;
    left:200px;
    color:blue;
    height:60px;
  }
#ok:hover{
  width: 350px;
  word-spacing: 30px;
  transition: width 0.5s, height 0.5s;
}
/* video style */
body
{
 width:100%;
 margin:0 auto;
 padding:0px;
 /* font-family:helvetica; */
 background-color:#fafafa;;
 }
 /* color:white;
}*/
#wrapper{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:auto;
 height:inherit;
}
#player_wrapper
{
 position:relative;
 width:auto;
 margin-left:300px;
}
#video_player
{
 width:50%;
}
#player_controls
{
 top:98%;
 position:absolute;
 background-color:black;
 width:100%;
 padding:5px;
 box-sizing:border-box;
}
input[type="file"] {
  color: transparent;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
.file::before {
  content: 'Upload';
  color: white;
  display: block;
  background-color: aqua;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 55px 58px;
  outline: none;
  white-space: nowrap;}
input[type="image"]{
 float:center;
 height:20px;
 margin-left:inherit;
 margin-right:inherit;
 margin-top:inherit;
}
#vol_img
{
 margin: left 150px;;
 width:20px;
}
/* tooltip */
[data-tip] {
  position:relative;

}
[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  display:none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position:absolute;
  top:30px;
  left:35px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
  position:absolute;
  top:30px;
  left:35px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  /* top:35px; */
  left:0px;
  padding:5px 8px;
color:#1a1a1a;
  background-color:#fff;
  z-index:9;
  font-size: 0.75em;
  height:18px;
  line-height:18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
  display:block;
}